@import "tailwindcss";

html, body {
  overflow-x: hidden;
}




@keyframes shine {
  100% {
    left: 125%;
  }
}
.animate-shine {
  animation: shine 0.85s forwards; 
}


@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #261333 inset !important;
  -webkit-text-fill-color: #fff !important;
}
